/* Small devices such as mobile phones (0px -> 768px) */
/* Medium devices such as tablets (768px -> 1024px) */
/* Large devices such as laptops (1024px -> 1280px) */
/* Largest devices such as desktops (1280px and up) */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .laptop-hidden {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1023px) {
  .tablet-hidden {
    display: none;
  }
}

@media (max-width: 479px) {
  .mobile-hidden {
    display: none;
  }
}

body {
  margin: auto;
  max-width: 1280px;
  color: #f7f7f7;
  background-color: #000000;
}

main {
  min-height: 60vh;
  padding: 0px 140px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  main {
    padding: 0px 40px;
  }
}
@media (max-width: 479px) {
  main {
    padding: 0px 20px;
  }
}

.link {
  color: #F40864;
  text-decoration: none;
  transition: color 200ms;
}
.link:visited {
  color: #F40864;
}
.link:hover {
  text-decoration: none;
  color: #f7f7f7;
}

.header {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .header {
    padding: 0px 40px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .header {
    padding: 0px 40px;
  }
}
@media (max-width: 479px) {
  .header {
    padding: 0px 20px;
  }
}
.header__title-container {
  text-decoration: none;
}
.header__title {
  font-size: 80px;
  font-weight: 600;
  font-family: "Anton";
  color: #F40864;
  line-height: 75px;
  transition: color 200ms;
}
.header__title:hover {
  color: #f7f7f7;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .header__title {
    font-size: 70px;
    line-height: 65px;
  }
}
@media (max-width: 479px) {
  .header__title {
    font-size: 60px;
    line-height: 55px;
  }
}
.header__logos-container {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .header__logos-container {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 479px) {
  .header__logos-container {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.header__logo {
  width: 30px;
  height: 30px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .header__logo {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 479px) {
  .header__logo {
    width: 25px;
    height: 25px;
  }
}

.nav {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .nav {
    padding: 0px 40px;
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .nav {
    padding: 0px 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .nav {
    padding: 0px 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.nav__tab {
  font-size: 20px;
  font-weight: 700;
  color: #F40864;
  list-style-type: none;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 300ms, color 200ms;
}
.nav__tab:hover {
  transform: translate(1px, 1px);
  color: #f7f7f7;
}
.nav__tab--active {
  color: #f7f7f7;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .nav__tab {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .nav__tab {
    font-size: 16px;
  }
}

.websites {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .websites {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 479px) {
  .websites {
    grid-template-columns: repeat(2, 1fr);
  }
}

.preview {
  width: 100%;
  transition: transform 200ms;
}
.preview--inactive {
  display: none;
}
.preview--videogame {
  margin-bottom: 20px;
}
.preview--videogame:hover {
  transform: scale(1.01);
}
.preview--experiment {
  margin-bottom: 20px;
}
.preview--experiment:hover {
  transform: scale(1.01);
}
.preview--website:hover {
  transform: scale(1.02);
}

.about {
  padding: 0px 120px;
}
.about--inactive {
  display: none;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .about {
    padding: 0px 80px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .about {
    padding: 0px 40px;
  }
}
@media (max-width: 479px) {
  .about {
    padding: 0px 20px;
  }
}
.about h2 {
  margin-bottom: 10px;
}
.about p {
  font-size: 16px;
  line-height: 22px;
}
.about li {
  padding-left: 30px;
  font-size: 16px;
  line-height: 22px;
  list-style-type: none;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project__title-img {
  width: 100%;
  margin-bottom: 20px;
}
.project__summary {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 479px) {
  .project__summary {
    row-gap: 20px;
    flex-direction: column;
  }
}
.project__summary--left {
  width: 50%;
  font-size: 16px;
}
@media (max-width: 479px) {
  .project__summary--left {
    font-size: 14px;
    width: 100%;
  }
}
.project__summary--right {
  width: 50%;
  font-size: 16px;
}
@media (max-width: 479px) {
  .project__summary--right {
    font-size: 14px;
    width: 100%;
  }
}
.project__sshot {
  width: 100%;
  margin-bottom: 20px;
}
.project__story {
  width: 70%;
  margin-bottom: 20px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .project__story {
    width: 80%;
  }
}
@media (max-width: 479px) {
  .project__story {
    width: 90%;
    font-size: 16px;
  }
}
.project__youtube {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 20px;
}
.project .slideshow {
  position: relative;
  margin-bottom: 20px;
}
.project .slideshow__slide {
  width: 100%;
  height: 100%;
}
.project .slideshow__arrow {
  width: 90px;
  height: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .project .slideshow__arrow {
    width: 75px;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .project .slideshow__arrow {
    width: 60px;
    font-size: 18px;
  }
}
.project .slideshow__arrow--left {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
}
.project .slideshow__arrow--right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
}
@media (max-width: 479px) {
  .project .slideshow__arrow--right {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project .gridshow {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
}
.project .gridshow--2col {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 479px) {
  .project .gridshow--2col {
    grid-template-columns: repeat(1, 1fr);
  }
}
.project .gridshow--3col {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 479px) {
  .project .gridshow--3col {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project .gridshow--4col {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
@media (max-width: 479px) {
  .project .gridshow--4col {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project .gridshow--5col {
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.project .gridshow--6col {
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .project .gridshow--6col {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 479px) {
  .project .gridshow--6col {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project .gridshow__item {
  width: 100%;
}
.project .responsiveshow {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.project .responsiveshow__img--desktop {
  width: 58.9%;
}
.project .responsiveshow__img--tablet {
  width: 23.7%;
}
.project .responsiveshow__img--mobile {
  width: 11.6%;
}
.project .annotation {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.project .annotation__img {
  width: 65%;
}
.project .annotation__text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project .annotation__text--left {
  text-align: end;
}
@media (max-width: 479px) {
  .project .annotation__text {
    font-size: 14px;
  }
}
.project .padme--10 {
  padding: 10px;
}
.project .padme--20 {
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding-top: 50px;
  padding-bottom: 70px;
}
@media (min-width: 480px) and (max-width: 1023px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (max-width: 479px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 12px;
  }
}
.footer__content {
  font-size: 14px;
}
@media (max-width: 479px) {
  .footer__content {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */